nav(class="navbar fixed-top navbar-expand-md navbar-light bg-light")
 a(class="navbar-brand", href="#") 
  img(src="shop-window.svg", class="mr-2", width="30px", height="30px", fill="#8CD5FF")
  | screenWorks
 button(class="navbar-toggler", type="button", data-toggle="collapse", data-target="#navbarTogglerDemo02", aria-controls="navbarTogglerDemo02", aria-expanded="false", aria-label="Toggle navigation")
  span(class="navbar-toggler-icon")
 div(class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo02")
  ul(class="navbar-nav mr-auto mt-2 mt-lg-0 d-md-none")
   li(class="nav-item active")
    a(class="nav-link", href="#") Home 
     span(class="sr-only") (current)
    li(class="nav-item")
     a(class="nav-link", href="#") Services
    li(class="nav-item")
     a(class="nav-link disabled", href="#") Contact
  form(class="form-inline my-2 my-lg-0")
   input(class="form-control mr-sm-2", type="search", placeholder="Search")
  form(class="form-inline")
   button(class="btn btn-outline-primary ml-2", type="button") Log In
   button(class="btn btn-primary ml-2", type="button") Sign Up
   a(class="nav-link", href="#") 
    img(src="phone.svg", class="ml-2", width="30px", height="30px")
         
  
