nav(class="navbar fixed-top navbar-expand-md navbar-light bg-light shadow-sm")
 a(class="navbar-brand", href="/") 
  img(src="house-fill.svg", class="ml-3 mr-3", width="30px", height="30px", fill="#8CD5FF")
  | ScreenSolutions
 button(class="navbar-toggler", type="button", data-toggle="collapse", data-target="#navbarTogglerDemo02", aria-controls="navbarTogglerDemo02", aria-expanded="false", aria-label="Toggle navigation")
  span(class="navbar-toggler-icon")
 div(class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo02")
  ul(class="navbar-nav mr-auto mt-2 mt-lg-0 d-md-none")
   li(class="nav-item active")
    a(class="nav-link", href="/") Home 
     span(class="sr-only") (current)
    li(class="nav-item")
     a(class="nav-link", href="/services") Services
    li(class="nav-item")
     a(class="nav-link disabled", href="/contact") Contact
  form(class="form-inline my-2 my-lg-0")
   input(class="form-control mr-2 pt-0 pb-0", type="search", placeholder="Search")
  form(class="form-inline")
   a(class="btn btn-outline-primary ml-2", type="button", href="login") Log In
   a(class="btn btn-primary ml-2", type="button", href="signup") Sign Up
   a(class="nav-link", href="contact") 
    img(src="phone.svg", class="ml-2", width="30px", height="30px")
         
  
