extends layout

block content
 div
  div(class="row m-0", style="padding-left:10px;padding-right:10px")
   div(class="col orders-header") Place an Order
  div(class='row m-0', style="padding-left:10px;padding-right:10px")
   div(class='col orders-body')
    div(class='row m-0 services', style="padding-top:10px;padding-bottom:20px")
     each service in services
      div(class="col d-flex justify-content-center")
       a(href="#")
        img(src=service.imgSrc, alt="Card image cap", width="80px", height="auto")
    div(class='row m-0', style="height:1000px;background-color:#DBF2FF")    
     form(class="col-lg-3 order-form", style="height:1000px;background-color:white;border:2px")
      div(class="row")
       label(class="form-row", for="width") Please enter the screen's dimensions:
      div(class="row")
       div(class="form-row mt-2")
        div(class="form-group col") 
            input#width.form-control(type='width' placeholder='26 1/2')
            label(for='width') Width
        div(class="form-group col-1") X 
        div(class="form-group col") 
            input#height.form-control(type='height' placeholder='32 3/4')
            label(for='height') Height
        div(class="form-group col-1") X   
        div(class="form-group col") 
            input#depth.form-control(type='depth' placeholder='7/16')
            label(for='depth') Depth
      div(class="row")     
        div(class="form-group")  
         label(class="mt-2", for="frameType") Please select the frame type:
         select#frameType.form-control
          option Standard
          option Storm
      div(class="row")     
        div(class="form-group")  
         label(class="mt-2", for="frameColor") Please select the frame color:
         select#frameColor.form-control
          option White
          option Bronze
          option Mill
          option Sandstone
          option Almond
          option Black
      div(class="row")      
       div(class="form-group")  
        label(class="mt-2", for="screenColorType") Please select the screen color and material:
        select#screenColorType.form-control
         option Charcoal Fiberglass
         option Gray Fiberglass
         option Charcoal Aluminum
         option Mill Aluminum
         option Black Aluminum
         option Black PetSafe
         option Gray PetSafe
      div(class="row")   
       div(class="form-group")  
        label(class="mt-2", for="screenColorType") Please select the screen color and material:
        select#screenColorType.form-control
         option Charcoal Fiberglass
         option Gray Fiberglass
         option Charcoal Aluminum
         option Mill Aluminum
         option Black Aluminum
         option Black PetSafe
         option Gray PetSafe
      button.btn.btn-primary.btn-block.footer.mb-2(type='submit') Submit

     