block content 
 .alert.alert-dark.alert-dismissible.fade.show.mt-2.ml-xl-4.mr-xl-4.text-center.order-list-alert(role='alert')
       strong Looking to see if your order has been completed? 
       | Check the fields below.
       button.close(type='button' data-dismiss='alert' aria-label='Close')
         span(aria-hidden='true') &times;       
 div(class="d-none d-lg-block order-list-main")
  div(class='row')
   div(class="col pr-0 ml-xl-4 mr-xl-2")
    div(class='complete-header') Completed Orders
     img(src="check2-circle.svg", class="ml-2")
    div(class="orders-large-body") 
     include orderCompleteItems
   div(class="col pl-0 ml-xl-2 mr-xl-4")   
    div(class='pending-header') Pending Orders
     img(src="circle.svg", class="ml-2", width="14px", height="14px")
    div(class="orders-large-body")  
     include orderPendingItems
 div(class="order-list-main")      
  nav(id="navbar-example2", role="tablist", class="navbar navbar-light bg-light px-3 position-relative justify-content-around d-lg-none")
   ul(class="nav nav-tabs")
    li(class="nav-item")
     a(class="nav-link", href="#cOrders") Completed Orders
    li(class="nav-item")
     a(class="nav-link", href="#pOrders") Pending Orders
  div(data-spy="scroll", data-target="#navbar-example2", data-offset="0", class="d-lg-none orders-small-body")
   div(id="cOrders") 
    include orderCompleteItems
   div(id="pOrders" class="") 
    include orderPendingItems